In [1]:
import pandas as pd

In [8]:
df = pd.read_excel("./data/PptoComercial_2024_Pets.xlsx", engine='openpyxl')

In [9]:
df

,UEN,Sociedad,País,División,Moneda,Anio,CodCliente,Cliente,CodConsultor,Consultor,...,MB Mar,MB Abr,MB May,MB Jun,MB Jul,MB Ago,MB Sep,MB Oct,MB Nov,MB Dic
0,Pets,Adiquim,Colombia,Pets,COP,2023,9909722,CLIENTE POTENCIAL,-,-,...,0.512695,0.512695,0.512695,0.512695,0.512695,0.512695,0.512695,0.512695,0.512695,0.512695
1,Pets,Nutreo,Colombia,Pets,COP,2023,9909722,CLIENTE POTENCIAL,-,-,...,0.285714,0.285714,0.285714,0.285714,0.285714,0.285714,0.285714,0.285714,0.285714,0.285714